<!DOCTYPE html>
<html lang="en">
<head>
<title>Welcome!</title>
<!-- <style type="text/CSS"></style> -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="stylesheets/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="build/css/custom.min.css" rel="stylesheet">

    <!-- Leaflet -->
    <link rel="stylesheet" type="text/css" href="stylesheets/leaflet.css">
    <script src="javascripts/leaflet-src.js"></script>
    <script src="javascripts/leaflet.js"></script>

    <!-- Custom Style Modifications -->
    <link rel="stylesheet" type="text/css" href="stylesheets/customStyleModifications.css">

    <!-- jQuery -->
   <script src="vendors/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

// 	window.onload=timeout;
// function timeout(){
// window.setTimeout("redirect()",5000)}

// function redirect(){
// window.location="/"
// return}

</script>
</head>
	<body id="splash">
	<br>
	<div id="splash-title" style="cursor:pointer">
		Mint
	</div>

	<p id="splash-subtitle">Helping you decide your future</p>	
<script>
	$("#splash-title").click(function(){
   $(location).attr('href', '/index')
});
	</script>
	</body>
</html>