<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="stylesheets/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>

    <!-- Custom Theme Style -->
    <link href="build/css/custom.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/piechart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <script src="javascripts/d3pie.min.js"></script>

    <!-- Custom Style Modifications -->
    <link rel="stylesheet" type="text/css" href="stylesheets/customStyleModifications.css">
    
    <!-- Leaflet -->
    <link rel="stylesheet" type="text/css" href="stylesheets/leaflet.css">
    <script src="javascripts/leaflet-src.js"></script>
    <script src="javascripts/leaflet.js"></script>
</head>
<body class="nav-md">
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
	<div class="container body">
		<div class="main _container">
			<div class="row">
	            <div class="col-md-12 col-sm-12 col-xs-12">
	              <div class="x_panel tile"  id="mapContainer">
	                <div id="mapid">
	                </div>
	              </div>
	            </div>
          	</div>  
			<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
			<script src='https://d3js.org/d3.v3.min.js'></script>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
				  <div class="x_panel tile" id="chartContainer">
				    <!-- <div id="mapid"> -->
				    <!-- </div> -->
				  </div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
				  <div class="x_panel tile" id="chartContainer">
				    <div id="pieChart"></div>
				    <script src="javascripts/piechart.js"></script>
				  </div>
				</div>
			</div>
		</div>
	</div> 
	<script>
		// var pie = new d3pie("pieChart", {
		//   header: {
		//     title: {
		//       text: "A Simple Donut Pie"
		//     },
		//     location: "pie-center"
		//   },
		//   size: {
		//     pieInnerRadius: "80%"
		//   },
		//   data: {
		//     sortOrder: "label-asc",
		//     content: [
		//       { label: "JavaScript", value: 1 },
		//       { label: "Ruby", value: 2 },
		//       { label: "Java", value: 3 },
		//       { label: "C++", value: 2 },
		//       { label: "Objective-C", value: 6 }
		//     ]
		//   }
		// });
	</script>   
	<script src="javascripts/leafletMap.js"></script>

</body>
</html>